@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-primario: #12ac8e;
    --color-primario-oscuro: #0d846c;
    --color-primario-claro: #e9f7f7;
    --color-secundario: #fb923c;
    --texto-oscuro: #333333;
    --texto-claro: #767268;
    --blanco: #ffffff;
    --max-width: 1200px;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", sans-serif;
}

img{
  width: 100%;
  display: flex;
}


/*------------------------Header----------------------------------------------------*/

header{
  background-image: linear-gradient(to right, rgba(18, 172, 142, 0.9), rgba(18, 172, 142, 0.7)), url("img/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor1{
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.contenedor2{
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
}

.letra1{
  text-decoration: none;
}

.letra1{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blanco);
}

.letra2{
  color: var(--color-secundario);
}

.links{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
}
.links {
  list-style-type: none;
}

.link{
  padding: 0.5rem;
  color: var(--color-primario-claro);
  text-decoration: none;
}

.link{
  color: var(--blanco);
}

.boton{
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--blanco);
  background-color: var(--color-secundario);
  border-radius: 5px;
  cursor: pointer;
}

.contenedor2{
  display: flex;
  align-items: center;
  gap: 5rem;
}

.titulo1{
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--blanco);
}

.parrafo1{
  margin-bottom: 2rem;
  max-width: 600px;
  color: var(--color-primario-claro);
}

/*----------------------cuadro de los datos-------------------------------*/
.datos{
  width: 100%;
  max-width: 350px;
}

.cuadro_datos{
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--blanco);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.titulo_datos{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primario);
}

.datos1{
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--color-primario);
  background-color: var(--color-primario-claro);
  border-radius: 5px;
}

.datos1{
  color: var(--color-primario);
}

.datos_boton{
  background-color: var(--color-primario);
  transition: 0.3s;
}

.datos_boton{
  background-color: var(--color-primario-oscuro);
}

/*-----------------------service----------------------------*/

.service{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.service_titulo{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--texto-oscuro);
}

.service_parrafo{
  max-width: 600px;
  color: var(--texto-oscuro);
}


.service_boton{
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--color-primario);
  border: 1px solid var(--color-primario);
  background-color: transparent;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.service_boton{
  color: var(--blanco);
  background-color: var(--color-primario);
}

.service_cuadros{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.marco_service{
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.marco_service span{
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 2.5rem;
  color: var(--color-primario);
  background-color: var(--color-primario-claro);
  border-radius: 100%;
  transition: 0.3s;
}

.marco_service:hover span{
  color: var(--color-primario-claro);
  background-color: var(--color-primario);
}

.titulo_service{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.parrafo_service{
  margin-bottom: 1rem;
  color: var(--texto-claro);
}

.service_btn{
  color: var(--color-primario);
  text-decoration: none;
}

.service_btn:hover{
  color: var(--color-primario-oscuro);
}

/*------------------------About Us--------------------------------------------*/

.contenedor3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;

}
.about_parrafo{
  margin-bottom: 1rem;
  color: var(--texto-claro)
}

.img_about{
  max-width: 400px;
  margin: auto;
  border-radius: 10px; 
}

/*-------------------------------------------Why-Blog-------------------------------------------------*/

.contenedor4{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.img_choose{
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}

.contenido_parrafo{
  color: var(--texto-claro);
}

.cuadro_choose{
  display: grid;
  margin-top: 4rem;
  grid-template-columns: 80px auto;
  gap: 2rem;
}
.cuadro_choose span{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--color-primario);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

/*-----------------------Titulo de la seccion de choose--------------------*/
.choose_titulo{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.chosee_parrafo{
  color: var(--texto-claro);
}

/*-------------------------------------------Blog-------------------------------------------------*/
.contenedor_why{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.imagen_why{
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}

.contenido_why_p{
  color: var(--texto-claro);
}

.grid_why{
  display: grid;
  margin-top: 4rem;
  grid-template-columns: 80px auto;
  gap: 2rem;
}
.grid_why span{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--color-primario);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.grid_why_h4{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.grid_why_p{
  color: var(--texto-claro);
}


/*----------------------------------------------------Pages-------------------------------------------*/

.pages_posicion_flechas{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.pages_p{
  max-width: 600px;
  color: var(--texto-claro);
}

/*-----------------------flechas------------------------------------*/
.pages_flechas{
  display: flex;
  align-items: center;        
  gap: 1rem;
}

.pages_flechas span{
  padding: 5px 15px;
  font-size: 1.5rem;
  color: var(--color-primario);                     
  background-color: var(--color-primario-claro);
  cursor: pointer;
}

/*-------------------------------------------------------*/
.pages_cuadro{
  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
}

.pages_card{
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.pages_card_img{
  position: relative;
  overflow: hidden;
  list-style-type: none;
}

.redes_sociales{
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.5s;
}

.redes_sociales span{
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.5rem;
  color: var(--texto-oscuro);
  background-color: var(--blanco);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.redes_sociales span:hover{
  color: var(--color-primario);
}

.pages_card:hover .redes_sociales{
  bottom: 2rem;
}

.nombres{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.pages_p{
  margin-bottom: 1rem;
  color: var(--texto-claro);
}

/*---------------------Footer---------------------*/

.footer{
  background-color: var(--color-primario-claro);
}
.contenedor5{
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}
.footer1 h3{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primario);
}
.footer1 h3 span{
  color: var(--color-secundario);
}
.mostrador_titulo{
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primario);
}
.texto_arreglo{
  display: flex;
}
.datos_mostrador{
  margin-bottom: 1rem;
  color: var(--texto-oscuro);
  cursor: pointer;
  transition: 0.3s;
}
.datos_mostrador:hover{
  color: var(--color-primario);
}
.footer_i{
  display: inline-block;
  color: var(--color-primario);
  margin-right: 4.5px;
}
.mostrar_linea{
  background-color: var(--color-primario);
}
.texto_linea_final{
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.letras_linea{
  font-size: 0.8rem;
  color: var(--blanco);
}
.redes_mostrador{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: var(--blanco);
  cursor: pointer;
}


