@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-primario: #12ac8e;
    --color-primario-oscuro: #0d846c;
    --color-primario-claro: #e9f7f7;
    --color-secundario: #fb923c;
    --texto-oscuro: #333333;
    --texto-claro: #767268;
    --blanco: #ffffff;
    --max-width: 1200px;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", sans-serif;
}

img{
  width: 100%;
  display: flex;
}


/*------------------------Header----------------------------------------------------*/

header{
  background-image: linear-gradient(to right, rgba(18, 172, 142, 0.9), rgba(18, 172, 142, 0.7)), url("img/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor1{
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.contenedor2{
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.letra1{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--blanco);
}

.letra2{
  color: var(--color-secundario);
}

.links{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.link{
  padding: 0.5rem;
  color: var(--color-primario-claro);
}

.link:hover{
  color: var(--blanco);
}

.boton{
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--blanco);
  background-color: var(--color-secundario);
  border-radius: 5px;
  cursor: pointer;
}

.contenedor2{
  display: flex;
  align-items: center;
  gap: 5rem;
}

.titulo1{
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 3.5rem;
  line-height: 4rem;
  color: var(--blanco);
}

.parrafo1{
  margin-bottom: 2rem;
  max-width: 600px;
  color: var(--color-primario-claro);
}

.datos{
  width: 100%;
  max-width: 350px;
}

.cuadro_datos{
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--blanco);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.titulo_datos{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primario);
}

.datos1{
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--color-primario);
  background-color: var(--color-primario-claro);
  border-radius: 5px;
}

.datos1{
  color: var(--color-primario);
}

.datos_boton{
  background-color: var(--color-primario);
  transition: 0.3s;
}

.datos_boton{
  background-color: var(--color-primario-oscuro);
}

/*-----------------------service----------------------------*/

.service{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.service_titulo{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--texto-oscuro);
}

.service_parrafo{
  max-width: 600px;
  color: var(--texto-oscuro);
}


.service_boton{
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--color-primario);
  border: 1px solid var(--color-primario);
  background-color: transparent;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.service_boton:hover{
  color: var(--blanco);
  background-color: var(--color-primario);
}

.service_cuadros{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.marco_service{
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.marco_service span{
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 2.5rem;
  color: var(--color-primario);
  background-color: var(--color-primario-claro);
  border-radius: 100%;
  transition: 0.3s;
}

.marco_service:hover span{
  color: var(--color-primario-claro);
  background-color: var(--color-primario);
}

.titulo_service{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.parrafo_service{
  margin-bottom: 1rem;
  color: var(--texto-claro);
}

.service_btn{
  color: var(--color-primario);
}

.service_btn:hover{
  color: var(--color-primario-oscuro);
}


